SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=your-api-key
DEV_WALLET=AgyEoDHFxZvkYFaHgUZ5TcFk6VRB3idzD4NaPmRjDsZ8
DEV_WALLET_SIG_LIMIT=20
DEV_WALLET_BEFORE=
DEV_WALLET_ADDRESS=wboB5jMNtDqUJw7BaJHoyosA4TFgNKUsYMSZDVWBMbK
DEV_WALLET_MINT=71utbKBwCwL22NsJZzeuR23K3BTZaTmzj3X7kzTzpump
