SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=your-api-key
DEV_WALLET=your-dev-wallet
DEV_WALLET_SIG_LIMIT=20
DEV_WALLET_BEFORE=
DEV_WALLET_ADDRESS=your-token-account-address
DEV_WALLET_MINT=your-token-mint
CACHE_NAMESPACE=your-local-project-name
